<% layout('./layout/boilerplate')%>

<div class="container">
    <header class="jumbotron">
       
<h1><%= sem.name %></h1>
</header>
<img src="<%= sem.image%> ">
<% console.log(years); %>

<p>
    heyyyyyyyyy
    
<% for(let year of years){  %>
   
            
    <a href="/notes/<%= sem._id %>/<%= year._id %>" class="btn btn-primary"><strong> <%= year.name %></strong></a>
      

          


</h1>
<%}%>
</p>
<p>
   
    <a class="btn btn-primary btn-large" href="/notes/<%=sem._id%>/new">ADD NEW Year</a>
    </p>
</div>
    