<style>
  body{
background-image: url("https://images.unsplash.com/photo-1531132076534-0120b6aa12cd?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
background-size: cover;
opacity: 0.7em;

}
  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
  header.jumbotron {
      background-image: url(https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
      
      width: 100%;
      object-fit: cover;
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      
  }
  
  .grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
  }
  
  .grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    padding: 0.5em;
    width: 1000px;
    margin: 20px;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
      .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1.0rem;
  }
  
  .card-header {
      text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
  }
  
  .card-text {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
    text-align: center;
    
  }
  
  .card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }
  
  .card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
    background-color: #c2cffc;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
    margin-left: 1.5rem;
    
  }
  .card-img {
      padding: 0.5em;
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  .notes {
      text-align: center;
      text-decoration-color: #c2cffc;
      color: #fff;
  }
  
  </style>
<% layout('./layout/boilerplate')%>


<h1><%= subject.name %></h1>



    
<% for(let pdf of subject.pdf){  %>
   
            
  <a href="

           
 <%= pdf %>""> <%= pdf %></a>
</a>
<%}%>
</p>
<p>
    <a class="btn btn-primary btn-large" href="/notes/<%=sem._id%>/<%=year._id%>/<%=subject._id%>/new">ADD NEW file</a>
    </p>